<!DOCTYPE html>
<html>
  <head>
    <title>Comic Book Data Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %> |
      <%= link_to "Publishers", publishers_path %> |
      <%= link_to "Volumes", volumes_path %> |
      <%= link_to "Issues", issues_path %> |
      <%= link_to "Characters", characters_path %> |
      <%= link_to "About", about_path %>

    </nav>
    <%= yield %>
  </body>
</html>
